*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background: #0A3442;
}

nav{
    color: white;
    background-color: #104455;
    height: 80px;
    width: 100%;
}

label.logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 150px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    color: white;
    font-size: 20px;
    padding: 8px 14px;
}

a.active, a:hover{
    color: #7FFFD6;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check{
    display: none;
}

div{
    display: inline-block;
}

div.principal{
    background: #0A3442;
    color: white;
    height: 550px;
    width: 100%;
    
}

div.info {
    padding: 0px 100px 0px 200px;
    padding-top: 200px;
}

p{
    margin: 8px;
    font-size: 20px;
    width: 300px;
}
p#nome{
    font-size: 30px;
    font-weight: bold;
}

div.img-principal{
    float: right;
    margin-right: 250px;
    padding-top: 100px;
}